[submodule "geonode"]
	path = geonode
	url = https://github.com/CentroGeo/sigic-geonode-wrapper.git
	branch = develop-bundle

[submodule "keycloak"]
	path = keycloak
	url = https://github.com/CentroGeo/sigic-keycloak.git
	branch = develop-bundle

[submodule "frontend"]
	path = frontend
	url = https://github.com/CentroGeo/sigic-nuxt-frontend.git
	branch = develop-bundle

[submodule "ia-engine"]
	path = ia-engine
	url = https://github.com/CentroGeo/sigic-ia-engine.git
	branch = develop-bundle

[submodule "ia-queuelb"]
	path = ia-queuelb
	url = https://github.com/CentroGeo/sigic-ia-loadbalancer.git
	branch = develop-bundle
