# Common Django template for GeoNode and Celery services below
x-common-django: &default-common-django
  image: ${COMPOSE_PROJECT_NAME}/geonode:${GEONODE_BASE_IMAGE_VERSION}
  restart: unless-stopped
  env_file:
    - .env
  volumes:
    - statics:/mnt/volumes/statics
    - geoserver-data-dir:/geoserver_data/data
    - backup-restore:/backup_restore
    - data:/data
    - tmp:/tmp
    - uploaded-ia:/mnt/volumes/statics/uploaded/ia
    # - ./django-geonode-mapstore-client:/usr/src/django-geonode-mapstore-client
  depends_on:
    db:
      condition: service_healthy

services:
  # Our custom django application. It includes Geonode.
  django:
    <<: *default-common-django
    build:
      context: ./geonode
      dockerfile: Dockerfile
    container_name: django4${COMPOSE_PROJECT_NAME}
    healthcheck:
      test: "curl -m 10 --fail --silent --write-out 'HTTP CODE : %{http_code}\n' --output /dev/null http://django:8000/"
      start_period: 60s
      interval: 60s
      timeout: 30s
      retries: 4
    environment:
      - IS_CELERY=False
    entrypoint: ["/usr/src/sigic_geonode/entrypoint.sh"]
    command: "uwsgi --ini /usr/src/sigic_geonode/uwsgi.ini"
    networks:
      - sigicnetwork

  # Celery worker that executes celery tasks created by Django.
  celery:
    <<: *default-common-django
    container_name: celery4${COMPOSE_PROJECT_NAME}
    depends_on:
      django:
        condition: service_healthy
    environment:
      - IS_CELERY=True
    entrypoint: ["/usr/src/sigic_geonode/entrypoint.sh"]
    command: "celery-cmd"
    networks:
      - sigicnetwork

  # Nginx is serving django static and media files and proxies to django and geonode
  geonode:
    profiles: ["proxy"]
    platform: linux/amd64
    image: ${COMPOSE_PROJECT_NAME}/nginx:${NGINX_BASE_IMAGE_VERSION}
    build:
      context: ./geonode/docker/nginx
      dockerfile: Dockerfile
      args:
        BASE_IMAGE_VERSION: ${NGINX_BASE_IMAGE_VERSION}
    container_name: nginx4${COMPOSE_PROJECT_NAME}
    env_file:
      - .env
    environment:
      - RESOLVER=127.0.0.11
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    volumes:
      - nginx-confd:/etc/nginx
      - nginx-certificates:/geonode-certificates
      - statics:/mnt/volumes/statics
      - ${ENABLE_KEYCLOAK_PROXY:+./overrides/nginx/z-keycloak-proxy.conf:/etc/nginx/sites-enabled/z-keycloak-proxy.conf:ro}
      - ${ENABLE_ADMIN_PROXY:+./overrides/nginx/z-frontend-admin.conf:/etc/nginx/sites-enabled/z-frontend-admin.conf:ro}
      - ${ENABLE_PUBLIC_PROXY:+./overrides/nginx/z-frontend-pub.conf:/etc/nginx/sites-enabled/z-frontend-pub.conf:ro}

    restart: unless-stopped
    networks:
      - sigicnetwork

  # memcached service
  memcached:
    image: memcached:alpine
    container_name: memcached4${COMPOSE_PROJECT_NAME}
    command: memcached ${MEMCACHED_OPTIONS}
    restart: on-failure
    healthcheck:
      test: nc -z 127.0.0.1 11211
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      - sigicnetwork

  # Gets and installs letsencrypt certificates
  letsencrypt:
    profiles: ["proxy"]
    platform: linux/amd64
    image: ${COMPOSE_PROJECT_NAME}/letsencrypt:${LETSENCRYPT_BASE_IMAGE_VERSION}
    build:
      context: ./geonode/docker/letsencrypt
      dockerfile: Dockerfile
      args:
        BASE_IMAGE_VERSION: ${LETSENCRYPT_BASE_IMAGE_VERSION}
    container_name: letsencrypt4${COMPOSE_PROJECT_NAME}
    env_file:
      - .env
    volumes:
      - nginx-certificates:/geonode-certificates
    restart: unless-stopped
    networks:
      - sigicnetwork

  # Geoserver backend
  geoserver:
    platform: linux/amd64
    image: ${COMPOSE_PROJECT_NAME}/geoserver:${GEOSERVER_BASE_IMAGE_VERSION}
    build:
      context: ./geonode/docker/geoserver
      dockerfile: Dockerfile
      args:
        BASE_IMAGE_VERSION: ${GEOSERVER_BASE_IMAGE_VERSION}
    container_name: geoserver4${COMPOSE_PROJECT_NAME}
    healthcheck:
      test: "curl -m 10 --fail --silent --write-out 'HTTP CODE : %{http_code}\n' --output /dev/null http://geoserver:8080/geoserver/ows"
      start_period: 60s
      interval: 60s
      timeout: 30s
      retries: 2
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - statics:/mnt/volumes/statics
      - geoserver-data-dir:/geoserver_data/data
      - backup-restore:/backup_restore
      - data:/data
      - tmp:/tmp
    restart: unless-stopped
    depends_on:
      data-dir-conf:
        condition: service_healthy
      django:
        condition: service_healthy
    networks:
      - sigicnetwork

  data-dir-conf:
    image: ${COMPOSE_PROJECT_NAME}/geoserver_data:${GEOSERVER_DATA_BASE_IMAGE_VERSION}
    platform: linux/amd64
    build:
      context: ./geonode/docker/geoserver_data
      dockerfile: Dockerfile
      args:
        BASE_IMAGE_VERSION: ${GEOSERVER_DATA_BASE_IMAGE_VERSION}
    container_name: gsconf4${COMPOSE_PROJECT_NAME}
    entrypoint: sleep infinity
    volumes:
      - geoserver-data-dir:/geoserver_data/data
    restart: unless-stopped
    healthcheck:
      test: "ls -A '/geoserver_data/data' | wc -l"
    networks:
      - sigicnetwork

  # PostGIS database.
  db:
    platform: linux/amd64
    image: ${COMPOSE_PROJECT_NAME}/postgis:${POSTGRES_BASE_IMAGE_VERSION}
    build:
      context: ./geonode/docker/postgresql
      dockerfile: Dockerfile
      args:
        BASE_IMAGE_VERSION: ${POSTGRES_BASE_IMAGE_VERSION}
    command: postgres -c "max_connections=${POSTGRESQL_MAX_CONNECTIONS}"
    container_name: db4${COMPOSE_PROJECT_NAME}
    env_file:
      - .env
    volumes:
      - dbdata:/var/lib/postgresql/data
      - dbbackups:/pg_backups
    restart: unless-stopped
    healthcheck:
      test: "pg_isready -d postgres -U postgres"
    ports:
      - "5432:5432"
    networks: [sigicnetwork]

  # Extra initialization for Keycloak database objects
  init-keycloak-db:
    image: ${COMPOSE_PROJECT_NAME}/postgis:${POSTGRES_BASE_IMAGE_VERSION}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - sigicnetwork
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      ENABLE_KEYCLOAK_PROXY: ${ENABLE_KEYCLOAK_PROXY}
    volumes:
      - ./scripts/init_keycloak_db.sh:/init-keycloak-db.sh:ro
    entrypoint: ["/bin/bash", "/init-keycloak-db.sh"]
    restart: "no"
    profiles: ["oidc"]

  # Vanilla RabbitMQ service. This is needed by celery
  rabbitmq:
    image: rabbitmq:3-alpine
    container_name: rabbitmq4${COMPOSE_PROJECT_NAME}
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    restart: unless-stopped
    networks:
      - sigicnetwork

  keycloak:
    profiles: ["oidc"]
    image: ${COMPOSE_PROJECT_NAME}/keycloak:latest
    build:
      context: ./keycloak/keycloak
      dockerfile: Dockerfile
    container_name: keycloak4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose:
      - "8080"
    env_file:
      - .env
    depends_on:
      init-keycloak-db:
        condition: service_completed_successfully
    environment:
      KC_CACHE: local
      JGROUPS_DISCOVERY_PROTOCOL: DNS_PING
      JGROUPS_DISCOVERY_PROPERTIES: "dns_query=localhost"
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks: [sigicnetwork]

  frontend-admin:
    profiles: ["frontend-admin"]
    image: ${COMPOSE_PROJECT_NAME}/frontend-admin:latest
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-admin4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "3000"
    environment:
      NODE_ENV: production
      NUXT_PUBLIC_BASE_URL: ${NGINX_BASE_URL}
      NUXT_PUBLIC_GEONODE_URL: ${NGINX_BASE_URL}
      NUXT_PUBLIC_GEONODE_API: ${NGINX_BASE_URL}/api/v2
      NUXT_PUBLIC_GEOSERVER_URL: ${NGINX_BASE_URL}/gs
      NUXT_PUBLIC_IA_BACKEND_URL: ${NGINX_BASE_URL}/llmb
      NUXT_PUBLIC_DEFAULT_PAGE: /
      NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER: ""
      NUXT_AUTH_ORIGIN: ${NGINX_BASE_URL}
      NUXT_PUBLIC_AUTH_BASE_URL: ${NGINX_BASE_URL}/admin/api/auth
      KEYCLOAK_ISSUER: ${NGINX_BASE_URL}/iam/realms/sigic
      NUXT_PUBLIC_ENABLE_AUTH: true
      NUXT_PUBLIC_ENABLE_CATALOGO_VISTA: true
      NUXT_PUBLIC_ENABLE_CATALOGO_CARGA: true
      NUXT_PUBLIC_ENABLE_CONSULTA: true
      NUXT_PUBLIC_ENABLE_IAA: true
      KEYCLOAK_CLIENT_ID: ${ADMIN_KEYCLOAK_CLIENT_ID}
      KEYCLOAK_CLIENT_SECRET: ${ADMIN_KEYCLOAK_CLIENT_SECRET}
      NUXT_AUTH_SECRET: ${ADMIN_NUXT_AUTH_SECRET}
      NUXT_PUBLIC_APP_BASE_PATH: /admin/
    networks: [sigicnetwork]

  frontend-pub:
    profiles: ["frontend-pub"]
    image: ${COMPOSE_PROJECT_NAME}/frontend-pub:latest
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-pub4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "3000"
    environment:
      NODE_ENV: production
      NUXT_PUBLIC_BASE_URL: ${NGINX_BASE_URL}
      NUXT_PUBLIC_GEONODE_URL: ${NGINX_BASE_URL}
      NUXT_PUBLIC_GEONODE_API: ${NGINX_BASE_URL}/api/v2
      NUXT_PUBLIC_GEOSERVER_URL: ${NGINX_BASE_URL}/gs
      NUXT_PUBLIC_IA_BACKEND_URL: ${NGINX_BASE_URL}/llmb
      NUXT_PUBLIC_DEFAULT_PAGE: /
      NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER: ""
      NUXT_AUTH_ORIGIN: ${NGINX_BASE_URL}
      NUXT_PUBLIC_AUTH_BASE_URL: ${NGINX_BASE_URL}/api/auth
      KEYCLOAK_ISSUER: ${NGINX_BASE_URL}/iam/realms/sigic
      NUXT_PUBLIC_ENABLE_AUTH: false
      NUXT_PUBLIC_ENABLE_CATALOGO_VISTA: false
      NUXT_PUBLIC_ENABLE_CATALOGO_CARGA: false
      NUXT_PUBLIC_ENABLE_CONSULTA: true
      NUXT_PUBLIC_ENABLE_IAA: false
      KEYCLOAK_CLIENT_ID: ${PUB_KEYCLOAK_CLIENT_ID}
      KEYCLOAK_CLIENT_SECRET: ${PUB_KEYCLOAK_CLIENT_SECRET}
      NUXT_AUTH_SECRET: ${PUB_NUXT_AUTH_SECRET}
      NUXT_PUBLIC_APP_BASE_PATH: /pub/
    networks: [sigicnetwork]

networks:
  sigicnetwork:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: "1360"

volumes:
  keycloak_data:
    name: ${COMPOSE_PROJECT_NAME}-keycloak_data
  statics:
    name: ${COMPOSE_PROJECT_NAME}-geonode-statics
  nginx-confd:
    name: ${COMPOSE_PROJECT_NAME}-nginxconfd
  nginx-certificates:
    name: ${COMPOSE_PROJECT_NAME}-nginxcerts
  geoserver-data-dir:
    name: ${COMPOSE_PROJECT_NAME}-gsdatadir
  dbdata:
    name: ${COMPOSE_PROJECT_NAME}-dbdata
  dbbackups:
    name: ${COMPOSE_PROJECT_NAME}-dbbackups
  backup-restore:
    name: ${COMPOSE_PROJECT_NAME}-backup-restore
  data:
    name: ${COMPOSE_PROJECT_NAME}-data
  tmp:
    name: ${COMPOSE_PROJECT_NAME}-tmp
  rabbitmq:
    name: ${COMPOSE_PROJECT_NAME}-rabbitmq
  uploaded-ia:
    name: ${COMPOSE_PROJECT_NAME}-statics-uploaded-ia