version: "3.9"

services:
  geonode:
    build: ./geonode              # aquí más adelante irá tu repo o copia de geonode
    env_file: .env
    ports:
      - "${GEONODE_HTTP_PORT:-8088}:80"
    networks: [sigicnetwork]
    # luego agregaremos volúmenes o dependencias si hacen falta

  keycloak:
    profiles: ["oidc"]            # esto hace que sea opcional
    build: ./keycloak             # aquí irá tu carpeta de keycloak
    restart: unless-stopped
    expose:
      - "8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    environment:
      - KC_DEV_MODE=${KC_DEV_MODE:-false}
      - KC_DB=postgres
      - KC_DB_URL_HOST=${KC_DB_URL_HOST}
      - KC_DB_URL_DATABASE=${KC_DB_URL_DATABASE}
      - KC_DB_USERNAME=${KC_DB_USERNAME}
      - KC_DB_PASSWORD=${KC_DB_PASSWORD}
      - KC_HOSTNAME=${KC_HOSTNAME}
      - KC_PROXY_HEADERS=xforwarded
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_STRICT_HTTPS=false
      - KC_HTTP_ENABLED=true
      - KC_HTTP_RELATIVE_PATH=${KC_HTTP_RELATIVE_PATH:-/iam}
      - JAVA_OPTS=${JAVA_OPTS}
    networks: [sigicnetwork]

networks:
  sigicnetwork:
    driver: bridge

volumes:
  keycloak_data:
